<form class="form-signin" name="loginForm" data-ng-submit="login()">
    <h2 class="form-signin-heading">Please log in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
           data-ng-model="userCredentials.email" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password"
           data-ng-model="userCredentials.password" required>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" data-ng-class="{'disabled': !loginForm.$valid}" type="submit">Login</button>
    <button class="btn btn-lg btn-default btn-block" data-ng-click="register()">Register</button>
</form>